[2019-11-18 14:00] eslickj opened #1 "License text"
@ksbeattie and @jsiirola, could you guys review the license text file?  I did a bare bone first pass, but I'm not really sure what we need to include. https://github.com/IDAES/build-bin/blob/master/license.txt

[2019-11-20 15:31] #1 closed, assigned to jsiirola, ksbeattie

[2019-11-20 15:34] eslickj opened #2 "Split Script in Two, Solvers and Lib"
We need to split the script in two, so we can build the solvers and libraries seperatly.

[2019-11-20 17:23] #2 closed, assigned to eslickj

[2020-01-16 14:22] eslickj opened #5 "Lapack dependency for HSL"
Currently the compile\_solvers script ends in HSL configure not finding Lapack, unless you use the system Lapack.  I added a issue for the coinbrew script here:  https://github.com/coin-or/coinbrew/issues/24.

[2020-01-16 15:21] eslickj commented on #5
@jsiirola, can one of you guys create a new IDAES branch on our Ipopt fork?  Now that the coinbrew script is working for us, I think we are free to move on to a newer version.  I guess the problem with dependency order may have been our old version.  I'm having trouble tracking exactly when this Dependency file comes into existence and how it evolves but I guess it it is the source of this problem

[2020-01-16 16:22] jsiirola commented on #5
@eslickj: I just added IDAES/core-dev with write acces to the fork, so I don't need to be on the critical path.

[2020-01-16 17:33] eslickj commented on #5
Ah dang, I liked having you do everything.

[2020-01-16 18:26] eslickj commented on #5
Thought these would https://github.com/IDAES/Ipopt/pull/1 and https://github.com/IDAES/idaes-ext/pull/6.  Lapack is built before HSL now and the libraries are there where they are supposed to be, just not found by the configure script for HSL.  I'm not sure what's wrong, but I assume there is a bit of an oversite in some build script somewhere (not mine).

@ksbeattie, @carldlaird, @jsiirola, and @

[2020-01-16 19:23] carldlaird commented on #5
The shared system libraries are often (significantly) faster. IPOPT supports both for convenience.

[2020-01-16 19:25] ksbeattie commented on #5
Perhaps some kind of "pre-flight" check within get-extensions is possible to print a nicely formatted error so the user is notified in a clear way.

[2020-01-16 19:43] jsiirola commented on #5
I am fine with using the system libraries.  That said, I have been burned in the past by other packages that had "implicit" dependencies on the system blas/lapack (numpy).  The problem was that code that attempted to load the library was sufficiently removed from the user that the link error was suppressed and converted into something like an import error.  There were several occasions when I was

[2020-01-16 19:49] eslickj commented on #5
Yeah, I'm thinking of adding ```find_library("lapack")``` or some such to check.  It's probably not air tight.  We could also maybe do an Ipopt test run where we are better equipped to catch and report errors.  I'll try to figure something out.

[2020-01-16 19:52] jsiirola commented on #5
@eslickj: wouldn't it be sufficient to just make this "Pyomo's problem" and defer the check / error message to the `solve()` that actually tries to use ipopt?  A user that was going to just use conopt for everything shouldn't have to care about the lapack library...

[2020-01-16 19:57] eslickj commented on #5
@jsiirola, heck yeah, that'd be awesome.  I was afraid to ask.  I guess we still bear some responsibility in IDAES, since we're providing the Ipopt binary.

[2020-01-16 20:06] carldlaird commented on #5
@eslickj I am confused. Aren't these scripts for *our* compiling of the binaries that are distributed with IDAES? If so, shouldn't we be making sure everything is going to work?

If so, I think we should error on the side of reliability and make sure we compile in the appropriate pieces (LAPACK, BLAS, etc).

Am I misunderstanding?

[2020-01-16 20:26] eslickj commented on #5
@carldlaird you understand right.  I was compiling in Lapack and Blas, using the Thirdparty downloads.  With the new coinbrew system, I can't get HSL to pick up the "Thirdpary" Lapack.  Shared Lapack works, so now I'm trying to make things easy for myself, by not attempting to statically link the Thirdparty Lapack and Blas.

Basically, I'm trying to get away with being lazy.

[2020-01-16 22:13] eslickj commented on #5
Well, I tried harder and changed the Thirdparty build harness versions to older versions.  HSL compiled fine, but then it was IPOPT that couldn't find Lapack.  I'm starting to think the new configure scripts don't look for libcoinlapack.

[2020-01-16 22:44] eslickj commented on #5
Alright could be this
[code]

[2020-01-21 14:22] eslickj commented on #5
Okay, I'm going to say there is definitely something about the new configure scripts that breaks the ThridParty Blas and Lapack.    The whole coinbrew build script thing, makes it sufficiently opaque to me, that I'm going to give up and dynamically link blas and lapack.  If someone else wants to fix this that cool, but I'm not going to spend more time on it.

We may have to temporarily give up on

[2020-03-18 23:46] dangunter opened #13 "Dockerfiles to build for multiple OSes"

[2020-03-19 16:52] #13 closed

[2020-03-27 14:41] eslickj commented on #5
Okay, I'm not going to attempt to statically link blas and lapack anymore, so I'll just close this.  I think we'll start doing the linux build for additional platforms, so we should be able to cover various version and on windows we just include the libraries in the distribution.

[2020-03-27 14:41] #5 closed

[2020-03-27 14:51] eslickj opened #17 "Supported linux versions?"
Now that we have docker containers to do the Linux and Windows builds, we need to decide what versions of Linux to build on, what versions of Linux to test on, and how to select a build to get.

So far, I think the only real issue we've had is libgfortran version.  There could be an issue with the Lapack and Blas versions, but they may be tied to the fortran version.

For testing, I guess we just

[2020-03-27 14:55] eslickj commented on #17
For CentOS7 the gfortran version is weirdly confusing.

[code]

[2020-03-27 15:16] jsiirola commented on #17
Personally, I would advocate building on the oldest platforms possible.  At least for the machines I deal with there are still a number of RHEL6 boxes around, so *my* life would be easier if we supported back to RHEL6 (CentOS6).

[2020-03-27 15:27] eslickj commented on #17
I had some problem with CentOS6, but I didn't try hard because it's pretty close to being unmaintained.  Since the docker stuff is so much easier, I give it a shot.

[2020-03-27 16:47] eslickj commented on #17
I'm building on CentOS 6 now and I see the issue is no C++11.  I'll let Ipopt finish and see what I can do.  I think I required it for some memoization stuff in the property libraries.  I don't remember the details, but I don't think it was especially easy to lose the dependency.

[2020-03-27 16:48] eslickj commented on #17
I should add Ipopt compiled successfully so the CentOS 6 issue is only property libraries.

[2020-03-27 17:03] eslickj commented on #17
Okay, I remove the (apparently no longer needed) stdc++11 flag and CentOS6 build is apparently working.  I don't know why C++ 11 was required, but whatever the reason I must have done away with it at some point.

[2020-03-29 15:02] eslickj commented on #17
I guess this is pretty complicated.  I built and tested CentOS 6, 7, and 8.  I'm working my way thorough Ubuntu 18.04, 19.10 and 20.04.  I think detecting and deciding which version to to use is going to be crazy complex, so I'm just going to add an option to get extensions called ```--os <build plaform>``` in {windows, darwin, linux, centos6, centos7, centos8, ubuntu1804, ubuntu1910, ubuntu2004}.

[2020-03-30 14:00] eslickj commented on #17
Ok, I guess this is decided.  I think we have enough builds to keep most people happy.  If someone complains I can add more.  Unspecified linux maps to centos7, just because that's what we had before.  If someone needs something different they will have to specify with a command line option.  see https://github.com/IDAES/idaes-dev/pull/788

[2020-03-30 14:00] #17 closed

[2020-03-31 01:59] ksbeattie commented on #17
@eslickj, though this is a close issue now, I think/hope that we should be able to add to our test harness (via CircleCI + docker containers or in Jenkins with VMs or containers), a set of tests to run these builds.  So that we can be alerted to when something breaks in an old dist that none of us use on a regular basis.

[2020-03-31 02:24] eslickj commented on #17
@ksbeattie I have a bunch of test dockerfiles.  They'll need a little work, but we should be close to being able to setup automated testing for all these.

[2020-04-02 18:13] eslickj opened #22 "Automated Testing of extension binaries"
We should refine the docker-test stuff and set it up in CircleCI or similar, so that we can automatically test binary changes.

[2020-04-09 16:31] jsiirola opened #25 "Windows tar.gz bundles ipopt dependencies in idaes-lib"
In the Windows tarball, the ipopt dependencies (`libblas.dll`, `libstcc++.dll`, `libquadmath-0.dll`, `libgfortran-4.dll`, `liblapack.dll`) are bundled in the `idaes-lib-windows-64.tar.gz` file and not in the `idaes-solvers-windows-64.tar.gz`.  This forces windows users who want to run ipopt to download both .tar.gz files.  In addition, the `license.txt` indicates that those DLLs should be in the `

[2020-04-09 16:54] eslickj commented on #25
Yeah, the way they are split was because the libs file goes to idaes\lib and the solvers file goes to ideas\bin.  They should be bundled the way you suggest, but I need to rework how I unpack.

I probably should just put a bin and lib directory in both the tars.

[2020-04-29 17:35] eslickj commented on #25
Fixed in PR #26

[2020-04-29 17:35] #25 closed

[2020-04-29 17:36] eslickj opened #27 "Add Platform Information"
It probably wouldn't hurt to add information to the library and solvers tarballs to indicate which platform they were compiled on.

[2020-04-29 17:39] eslickj opened #28 "Helmholtz EOS function to calculate vapor fraction from total entropy and pressure"
Need function in the title to allow entropy to be used as a state variable in the IDAES framework.  Should be nearly a copy of the existing similar function for enthalpy-pressure.

[2020-04-30 18:48] #28 closed

[2020-06-19 15:57] eslickj commented on #27
I added the platform to the version information.

[2020-06-19 15:57] #27 closed

[2020-06-19 16:00] eslickj opened #36 "Add sipopt"
Should add sipopt to the binary distribution, if it is possible to do it without a shared library containing HSL functions.

[2020-06-19 16:01] eslickj opened #37 "Add addtional coin-or solvers"
We should add additional coin-or solvers to our binary distribution if possible.

[2020-07-24 08:16] ksbeattie opened #38 "idaes-solvers-ubuntu2004-64.tar.gz is missing ipopt"
It appears that `idaes-solvers-ubuntu2004-64.tar.gz` is missing the actual `ipopt` binary.

[2020-07-24 18:09] eslickj commented on #38
Built a new one, and I'm testing it now.

[2020-07-24 18:25] eslickj commented on #38
Okay, I built a new one and tested it against Idaes-pse.  Should be good to go.  Do you want me to just update the broken one, or should we create a new release?
[idaes-solvers-ubuntu2004-64.tar.gz](https://github.com/IDAES/idaes-ext/files/4973690/idaes-solvers-ubuntu2004-64.tar.gz)
[idaes-lib-ubuntu2004-64.tar.gz](https://github.com/IDAES/idaes-ext/files/4973692/idaes-lib-ubuntu2004-64.tar.gz)

[2020-07-24 18:59] ksbeattie commented on #38
It really depends on the amount of effort to cut a new release.  It would be nice to have a "clean" 2.1.1 with the correct version number in there (without the "dev1").  Maybe it's just me being too picky, but that kinda bugs me.

If it's just a matter of re-rolling the .tar.gz files with the fixed license.txt files, I'll help out with that.

[2020-07-24 20:02] eslickj commented on #38
Oh, yeah.  Didn't even think about the version number.  Updating the version that is reported is a matter of editing the version.txt file in the tarballs.  If you want to do that, that's okay with me.  I don't want to do anything by hand like that.  100% chance I'll mess it up.  I guess I could also just rebuild and retest everything.  May not be a bad idea, since apparently I missed the fact that

[2020-07-24 20:23] ksbeattie commented on #38
I can do the by hand stuff if needed, is the rebuilding/testing automated?  If so, that's perhaps the way to go.

Is it also the case that a new release of idaes-ext can't really be effective (used by default by `idaes get-extensions`) unless a new release of idaes-pse is done (with an updated `config.py`)?  If so, that's unfortunate and we should probably look into using the same mechanism that g

[2020-07-24 20:34] eslickj commented on #38
Yeah, the build and test is automated.  I have docker set up to do it.  It's a bit time consuming, but I just have to kick-off the builds and hope for the best.

[2020-07-24 20:38] eslickj commented on #38
@jsiirola, the builds pull the latest pynumero master, I just realized I need to make sure I test that.  Anyway I guess the will get us the latest Pynumero library.  Hope it doesn't break anything, but I'll find out.

[2020-07-24 21:09] eslickj commented on #38
Okay, the newest pynumero library passes the tests.  I'll go ahead and update the version number, rebuild, and retest everything.

[2020-07-25 16:39] eslickj commented on #38
Alright new release is tested, and working. https://github.com/IDAES/idaes-ext/releases/tag/2.1.1

[2020-07-25 16:39] #38 closed

[2020-07-27 18:08] eslickj commented on #22
This could be better, but it's basically there.  You put the binaries you want to test in  release https://github.com/IDAES/idaes-ext/releases/tag/test-release, then go to actions and run tests.  It's very basic, but it's a start.  We can make new issues for specific improvements.  Fully automated is probably never going to be possible since we have to do the builds off-line.

[2020-07-27 18:08] #22 closed

[2020-07-27 18:15] eslickj opened #47 "Linux Tests Repeat on Fail"
For Linux, I have a very simple test setup that pulls a docker image from docker hub to test a specific platform.  Then runs a docker file that installs idaes-pse and runs a subset of tests.  This is all fine, since if pytest fails the build fails and you can see the tests that failed by looking at the log.  It's nice and simple.

The problem is if the docker build fails github actions tries again

[2020-07-27 18:18] eslickj opened #48 "Release tag as input to test workflows"
We may want to make the release tag an input to the testing workflows, then we can have tests on specific releases.  We could setup a test matrix for various releases of the binaries and idaes-pse.

This is pretty low priority since both the extensions release and idaes-pse release are static, so there is probably no need to test them anymore than manually triggering the tests for binaries before

[2020-07-31 17:23] adowling2 opened #49 "Add k_aug binary"
@adowling2 has recent experience compiling on macOS. This will be needed to use the upcoming sensitivity toolbox.

[2020-07-31 20:20] eslickj commented on #49
@adowling2, I probably should know this, but can you point me to the K_aug code and docs?

[2020-07-31 20:22] eslickj commented on #48
Another idea is to create a workflow to create a release from the test release.  That will cut out any change that I will make a mistake uploading binaries to a new release, and we can be confident we have properly tested exactly what we are releasing.

[2020-07-31 21:04] adowling2 commented on #49
https://github.com/dthierry/k_aug

@JanghoPark-LBL and I have limited experience getting it to compile.

Based on the limited documentation, I am worried that k_aug assumes the user has the HSL library installed (and in path). But my understanding is that we are distributing a version of Ipopt is compiled with Ipopt but does NOT expose the HSL to calls from other functions. (Ipopt allows you to ei

[2020-08-04 14:19] #47 closed

[2020-08-08 05:01] #48 closed

[2020-09-04 17:23] adowling2 commented on #36
@jsiirola @eslickj This just came up in a discussion with @JanghoPark-LBL. How hard is it to also compile and distribute sipopt with HSL?

[2020-09-16 23:52] eslickj commented on #49
Scripts are updated, and the binaries are built and in the test release now.  Once I get them tested I'll make an official 2.2.0 binary release, we can bump the binary release version with the main IDAES release.

[2020-09-17 00:58] eslickj commented on #49
Okay it should be done.  We'll need to do some testing.  We don't have tests for k_aug, but the rest is good.

[2020-09-17 00:58] #49 closed

[2020-09-17 18:46] jsiirola opened #59 "Compile dot_sens from k_aug"
I was just looking at Pyomo/pyomo#1632, and it looks like in addition to the `k_aug` executable, we also need an executable "dot_sens" from the k_aug repo.  Can we add that to this build?

[2020-09-17 22:24] eslickj commented on #59
Should be done.

[2020-09-17 22:24] #59 closed

[2020-10-14 00:58] ksbeattie opened #61 "Improve get-extensions download error reporting"
A user is trying to get extensions on what appears to be a 32 bit version of Windows:

![image](https://user-images.githubusercontent.com/1534843/95931137-353a0500-0d7d-11eb-86b6-5562b846dcc9.png)

Two ideas:

 - [ ] Build windows 32 bit versions of the extensions
 - [ ] Improve the error reporting when the extensions attempting to be download is not there.

[2020-10-14 02:19] jsiirola commented on #61
Is the user actually running 32-bit windows, or do they just have a 32-bit version of python installed?

[2020-10-14 14:27] eslickj commented on #61
@jsiirola, that's a good question.  It shouldn't matter if they have 32 bit Python, but I get that information from Pyomo's get_os_version() function, so I assumed 32 bit Windows.  I can pretty easily add a better warning.  I don't really want to add anything to my list of stuff to compile if I can help it, but it shouldn't be too hard to compile 32 bit versions. I was hoping this would never happ

[2020-10-14 15:07] jsiirola commented on #61
@eslickj `FileDownloader.get_os_version()` doesn't return the bit size; that comes from `FileDownloader.get_sysinfo()`.  `get_sysinfo()` returns 32 / 64 based on `sys.maxsize`, which is an indication of how *python* was compiled (and not necessarily what the underlying OS is capable).

I definitely agree, though: we should *not* get into the business of building 32-bit binaries.

[2020-10-14 17:39] ksbeattie commented on #61
I asked the user to check if they might have installed the 32-bit version of Anaconda on a 64-bit version of Windows - which I think would explain this situation.  We might think about updating the docs about which version of Anaconda to install.

[2020-10-14 17:51] eslickj commented on #61
32-bit python should be fine (I think), I need to check that we are getting the os bits correctly.  If I'm getting the Python build bits instead of OS bits it should be an easy fix.  I'll check on that as soon as I get a chance.

[2020-10-14 18:07] jsiirola commented on #61
The problem is that I am pretty sure that the bit-ness of a DLL has to match whatever application is opening it.  That is, I am pretty sure that if a 32-bit python attempts to load a 64-bit DLL you will get problems.  This is an issue for compiled external functions that have to be loaded into both Python (for evaluation / initialization) and into the solvers (like ASL/ipopt).  I am pretty sure we

[2020-10-14 18:14] eslickj commented on #61
@jsiirola, I see.  Yeah you are right about that.  I was thinking of running Ipopt as a separate process, but I forgot that Pyomo needs to call those external functions too.  Then there is also Pynumero.

So the solution is may sure we specify 64 bit Python in the install instructions and add better error output here.

[2020-10-14 18:26] jsiirola commented on #61
@eslickj: yes.  That would certainly be my recommendation.

[2020-10-15 15:52] ksbeattie commented on #61
Update: the user was indeed running a 64bit Windows but was somehow running 32bit python (perhaps by installing the 32bit Anaconda by mistake, I think).  He's re-installed things (probably Anaconda itself) and the get-extensions is working for him now.

So, I'm going to rename/recast this issue to just improve the error reporting when a download fails.

[2020-10-29 23:36] ksbeattie commented on #61
I believe this was fixed (somewhat unintentionally) in IDAES/idaes-dev#1235

[2020-10-29 23:36] #61 closed

[2021-01-14 19:29] adowling2 opened #69 "Add support for macOS (everything but HSL solvers)"
Goal: update idaes get-extensions to partially work with macOS.

Here is what happens when I run `sh ./scripts/compile_libs.sh`:

[code]

@eslickj @michaelbynum @ksbeattie any thoughts?

[2021-01-14 19:29] adowling2 commented on #69
Looks like my machine is using clang by default. We want to use gfortran instead.

[2021-01-14 19:36] eslickj commented on #69
Looks like you don't have boost libraries installed.  I set the scripts up to use gcc.  Not really sure about clang.  For some things it may work, but I probably hard coded gcc into the property library make files.

[2021-01-14 19:41] adowling2 commented on #69
I set `CC=/usr/bin/gcc` in the make script (ugly). You are correct I'm missing boost.

[2021-01-14 19:42] adowling2 commented on #69
I installed boost with `conda install -c conda-forge boost`.

[2021-01-14 19:43] adowling2 commented on #69
Now I'm getting this error message:
[code]

[2021-01-14 19:44] eslickj commented on #69
For this you'll want to install, guessing, something like libboost-dev with home brew.

[2021-01-14 19:46] adowling2 commented on #69
I removed boost with conda and ran `conda install -c statiskit libboost-dev`.

[2021-01-14 19:49] eslickj commented on #69
I searched a bit maybe ```brew install boost```.  I don't think conda will put it where the compilers are looking by default unless you got the compiler with conda too.  There is something in your environment I guess that sets where to look for header files.

[2021-01-14 19:53] adowling2 commented on #69
Yep, I'm trying `brew install boost` now. Update: That did not work. Next steps for me:
- [ ] Give `make` the path to boost.
- [ ] Try these instructions: https://www.boost.org/doc/libs/1_69_0/more/getting_started/unix-variants.html#easy-build-and-install

[2021-01-14 20:15] eslickj commented on #69
You can set the BOOST_HEADER environment variable as described her https://github.com/IDAES/idaes-ext/blob/main/src/Makefile.in.  Boost used to be a bigger issue before everything came precompiled.  A lot of boost is implemented in header files, so I think if you have it and can track down the headers that's enough to make it work.

[2021-01-14 20:32] adowling2 commented on #69
I got it to work. I pushed my code as a new branch: `adowling2-macos`. I hardcoded things.

[2021-01-14 20:34] adowling2 commented on #69
I now have `./dist-lib/idaes-lib--64.tar.gz`. Is this the file we want to test release?

[2021-01-14 20:57] eslickj commented on #69
Yeah.  There is an OS string missing.  I guess you had no way to know to set an environment variable for it.  Anyway between the two `--` goes darwin I thing so you can rename it  ``idaes-lib-darwin-64.tar.gz``

[2021-01-14 22:13] adowling2 commented on #69
@eslickj @ksbeattie @michaelbynum I successfully compiled the IDAES-specific libraries (e.g., thermo functions).

I think the next step is to post this to GitHub. I see there are a few special ways to run get-extensions:
[code]
or
[code]

My suggestion is to use the URL option. I can then try on my macOS laptop. (I compiled these on my macOS desktop.) If that works, I can get a few macOS users in

[2021-01-14 22:17] adowling2 commented on #69
Yes, we'll want to use the URL option. Otherwise, IDAES will give up when it detects macOS:
https://github.com/IDAES/idaes-pse/blob/4438f0135f1bf8c543778afa9b8f77d1e92056b3/idaes/solvers.py#L93

[2021-01-14 22:20] adowling2 commented on #69
Actually, the code linked above installs both the IDAES libraries and solvers at the same time. We might need to compile Ipopt without HSL to get macOS support working.

[2021-01-14 22:40] eslickj commented on #69
@adowling2 I think the solvers package includes pynumero, Ipopt, and k_aug.  I think we can compile all except k_aug without hsl.  May need to give this some thought.  But I think we can get a full working set of binaries maybe omitting k_aug without HSL.

I think the URL option also fails from Mac, but I can make whatever changes we need to make it act right.  The url option can be used to instal

[2021-01-15 00:34] adowling2 commented on #69
Update: binaries compiled on macOS 10.15 will not work with macOS 10.13.

[2021-01-15 00:47] adowling2 commented on #69
Update: it appears part of conda doesn't work in macOS 10.13.

[code]

[2021-01-15 10:44] adowling2 commented on #69
I updated my computer. I'm now able to run IDAES.

@eslickj You are correct that IDAES throws an exception:

[code]

results in

[code]

[2021-01-15 12:18] adowling2 commented on #69
Update: I got the binaries to work on the computer I compiled them on. I created this PR with a one-line change in IDAES: https://github.com/IDAES/idaes-pse/pull/162

I'm now recompiling the extensions with my academic HSL license to test the workflow. These will not be redistributed.

[2021-01-15 13:00] adowling2 commented on #69
Update: I was able to run the IDAES tests using my compiled binaries on macOS installed via `idaes get-extensions` (with the URL option to a local directory). Only 3 tests failed:
[code]

So this is positive news.

@eslickj @michaelbynum I'm having trouble compiling idaes-ext using HSL on my local machine. Lots of clang versus g++ conflicts. We can talk more during our Zoom meeting next week.

[2021-01-15 13:24] adowling2 commented on #69
I figured out the clang/gcc issue. Right now I'm stuck on k_aug. There seems to be a linker issue.

[code]

[2021-01-15 16:04] adowling2 commented on #69
I'm still stuck on compiling k_aug:
[code]

[2021-01-15 16:41] adowling2 commented on #69
I think I got it to work ;)

[2021-01-15 16:53] adowling2 commented on #69
I used `idaes get-extensions` to install the compiled solvers with HSL. Here are the results from running the tests:
[code]

[2021-01-15 19:18] eslickj commented on #69
@adowling2 that's awesome.  Now we just have to figure out if they work on MacOS in general or if there may be shared library or version issues.  We can talk Tuesday, but the non-HSL versions should be okay to add to like a Mac Testing release or something to make it easy for people to try out.

I'll modify the get-extensions to only raise the exception about unsupported MacOS only if the files ar

[2021-01-16 00:24] adowling2 commented on #69
Update: I installed the binaries (including HSL) compiled on one macOS machine (Mojave) on a different macOS machine (Big Sur). On the different machine, 300+ tests are failing, many with `Solver (ipopt) did not exit normally` error. Attached are all of the error messages.

[errors.txt](https://github.com/IDAES/idaes-ext/files/5823492/errors.txt)

[2021-01-16 01:41] adowling2 commented on #69
I also reran the tests with the non-HSL binaries. Lots of failing tests:
[code]

Here are some common error messages:
[code]

[code]

[2021-01-16 01:44] adowling2 commented on #69
I suspect I have the hsl library installed on the machine used to compile the solvers.

Regarding the thermo error, looks like I need to compile statically:
https://stackoverflow.com/a/53526797/8534156

[2021-01-16 01:47] adowling2 commented on #69
I confirmed that even when compiling with HSL, I get the error `ERROR: Solver log: dyld: Library not loaded: /usr/local/lib/libcoinhsl.2.dylib` for ipopt.

[2021-01-18 16:28] adowling2 commented on #69
I'm now trying to recompile to sort out the libcoinshl and libc++ errors. If I don't compile inside my `idaes-pse` conda environment, I get this error:
[code]

[2021-01-18 16:57] adowling2 commented on #69
Update: I recompiled the binaries after adding `-static-libstdc++` in Makefile.in and `--without-hsl` for the coinbrew line in compile_solvers.sh. Now testing on my second macOS computer.

[2021-01-18 17:06] adowling2 commented on #69
@jsiirola @ksbeattie FYI, I was unable to run IDAES after a fresh install using the developer documentation. It fails on macOS 10.13 (High Sierra) because of this: https://github.com/IDAES/idaes-ext/issues/69#issuecomment-760570594

[2021-01-18 17:12] adowling2 commented on #69
Update trying binaries without HSL. Still work in progress:
[code]

[2021-01-18 17:20] adowling2 commented on #69
Looking back at errors.txt, we had 397 failed test. So no improvement.

[2021-01-18 17:21] adowling2 commented on #69
Here are some select errors:
[code]

[code]

[2021-01-18 17:24] adowling2 commented on #69
Ipopt is still an issue:
[code]

[2021-01-18 17:38] adowling2 commented on #69
@eslickj Where does idaes install the solver binaries? I'm running into issues with testing as I already have Ipopt installed on this computer (compiled from source).

[2021-01-18 17:41] adowling2 commented on #69
Here is what happens when I try to run Ipopt from the command line:
[code]

[2021-01-18 17:45] adowling2 commented on #69
Two things to discuss tomorrow:
- Ipopt: I have `/usr/local/lib/libcoinhsl.2.dylib` installed on the machine I'm using the compile the binaries. I cannot get Ipopt to ignore this when it compiles.
- Thermo functions: I cannot get them to work if libstdc++ is not installed on the test machine.

[2021-01-18 17:59] adowling2 commented on #69
Here are the coinhsl libraries installed on the machine I'm using to compile:
[code]

My next idea is to temporarily remove these files.

[2021-01-18 19:08] adowling2 commented on #69
Temporarily removing the files did not work. I'm now resetting my build directory; I deleted all of the untracked files in git, removed the `coinbrew` folder, and deleted everything in the `dist-*` directories.

[2021-01-18 19:15] adowling2 commented on #69
To recap, I hid the coinhsl libraries, reset the idaes-ext directory, and recompiled. I'm now getting this error:
[code]

[2021-01-18 19:31] adowling2 commented on #69
I tried compiled Ipopt without HSL using the `-lgcc`. `k_aug` failed to build because it could not find `libcoinhsl`. This is a good sign.

[2021-01-18 19:40] adowling2 commented on #69
Still no luck; Ipopt still complains about not being able to access libquadmath.

[2021-01-18 22:40] adowling2 commented on #69
I'm now trying to compile the binaries on my laptop. I'd like to use a functional version of them for some IDAES development.

[2021-01-18 23:23] adowling2 commented on #69
Good news: I was able to compile the binaries without HSL on my laptop (Big Sur). Now only 153 tests failed. All with `pyutilib.common._exceptions.ApplicationError: Solver (ipopt) did not exit normally`. I confirmed I was able to run the Ipopt executable without issues. I also confirmed the complied thermodynamics functions work.

So right now, I'm able to compile the binaries and use them on the

[2021-01-18 23:26] adowling2 commented on #69
Here is one example of a failed test:
[code]

[2021-01-19 01:03] adowling2 commented on #69
It found some tests fail after multiple Ipopt iterations. I wonder if the tests are just tuned to only work with HSL and perform poorly with MUMPS.

[2021-01-19 01:29] adowling2 commented on #69
I got Ipopt to compile with HSL. I'm getting k_aug build errors:
[code]

[2021-01-19 02:09] adowling2 commented on #69
On my laptop, using the binaries compiled with HSL, there are now 69 failed test:
[code]

Here is a recap of our testing:
* Compiled binaries on desktop with coinhsl installed as a shared system library. Ran IDAES with these binaries on the same machine: 4 failed tests.
* Compiled binaries on desktop with coinhsl installed as a shared system library. Ran IDAES with these binaries on my laptop (dif

[2021-01-19 02:15] adowling2 commented on #69
I am seeing a lot of

```ERROR: Solver (ipopt) returned non-zero return code (-6)```

and

[code]

[2021-01-19 02:51] adowling2 commented on #69
@michaelbynum Sorry for the mess; I'm working in 3 branches. Here are my notes on how to make this work:
https://github.com/IDAES/idaes-ext/blob/adowling2-macos-laptop/macOS_notes.md

I'll ask you during our call tomorrow to give this a try.

[2021-01-19 15:34] adowling2 commented on #69
@ksbeattie See the link above for instructions. I'm going to try these out on Friday and then again next week with a few students that are macOS users.

[2021-01-19 17:25] adowling2 commented on #69
Conversation with @michaelbynum and @eslickj:
* Ipopt is compiled HSL and linked statically to HSL. This works well on Linux. For Windows, we redistribute runtime libraries from MinGW.
* Other libraries are dynamically linked. This may explain why I'm having trouble moving binaries across computers.

[2021-01-22 12:53] adowling2 commented on #69
This morning, I tried to merge my three macOS branches into one. I am currently working on `adowling2-macos`. Unfortunately, I'm having an Ipopt compilation issues now on my desktop:

[code]

[2021-01-22 13:20] adowling2 commented on #69
I switched over to the with HSL folder on the desktop. I'm still getting this error:
[code]

[2021-01-22 16:38] adowling2 commented on #69
Here is the debug output from compiling with HSL:
[code]

[2021-01-22 18:57] adowling2 commented on #69
There was a strange zip issue creating a coinhsl folder inside the coinhsl folder. I do not know what I did to fix it. I recently committed updated macOS scripts. Running `pytest` now.

[2021-01-27 18:37] adowling2 commented on #69
@eslickj @michaelbynum Good news. We've tested these instructions on 7+ macOS computers ranging from High Sierra to Big Sur. I think we have a solid set of instructions. There is still work to be done on getting the executable to be transferable between machines.

I'm going to open a PR. @eslickj, I'll need your help cleaning up the bash scripts.

[2021-03-04 19:57] ksbeattie commented on #69
Related to: https://github.com/IDAES/idaes-pse/issues/148 and https://github.com/IDAES/idaes-pse/issues/157

[2021-03-17 13:58] eslickj opened #76 "Add Modified Ipopt to Release"
Add modified version of Ipopt from https://github.com/dthierry/IpoptOld? under a different name, like ```ipopt_mod``` or somthing better.

- [x] Move to an IDAES repo
- [x] Add HSL required HSL info
- [x] Add to build script
- [ ] Release

[2021-03-17 14:06] eslickj commented on #37
Build script was updated in #73 and #74, which should do this.  Talking to @jsiirola about whether the new binaries are okay before putting out a test release.

[2021-03-17 14:07] eslickj commented on #36
This should be in the next release.  Build script was updated in Build script was updated in #73 and #74.

[2021-03-19 22:12] #37 closed

[2021-03-22 20:26] eslickj opened #83 "Manylinux conformant build"
Add a Linux build that conforms to manylinux standards https://github.com/pypa/manylinux.  This can probably replace our multiple Linux builds, or at the very least provide a default Linux build that is likely to work for most people.

So far as I know, what we need to do is statically link the Fortran library and figure out the best way to handle BLAS and LAPACK (currently using the system shared

[2021-03-23 21:16] eslickj opened #84 "Rebuild for k_aug typo, and cut 2.4.1 release"
Need to rebuild and do 2.4.1 release to pick up https://github.com/dthierry/k_aug/commit/2c3f95323760e01f190df4b3ed7a04e8010a6bab.

[2021-03-24 14:15] adowling2 commented on #84
@eslickj Was this done? Once your code is in main, I'm going to merge main into my macOS branch for additional testing. @jialuw96

[2021-03-24 14:24] eslickj commented on #84
@adowling2, I'm testing the new set of binaries now.  Should be up in an hour or so.  The scripts to build things are most likely fine in main, if you want to start.  I added new solvers recently, so there may be a lot of changes.  On the plus side I bypassed the coinbrew script, so you have more direct control.  I suspect that will make things easier on Mac.

[2021-03-24 18:40] eslickj commented on #84
Release 2.4.1 is out and apparently working.

[2021-03-24 18:40] #84 closed

[2021-04-19 15:21] jsiirola opened #88 "CBC errors with NL input in v.2.4.1"
We are seeing some link / segmentation faults using CBC from the idaes-ext/2.4.1 build when running it through the AMPL (NL) interface:

For problems with SOS constraints, we get a very uninformative:
[code]

For unbounded problems, we get a linking error:
[code]

You can reproduce these tests (assuming an updated version of Pyomo/main) with:
[code]

I am also attaching the NL files generated by P

[2021-04-21 15:59] jsiirola opened #94 "Releases (lib and solvers) contain "tmp" file"
The release tarballs (both `idaes-lib` and `idaes-solvers`) contain what appears to be an unnecessary `tmp` file.

[2021-04-21 17:07] jsiirola commented on #88
I am still seeing this with the 2.4.2 release (possibly because this is still building CBC 2.10.4?)

[2021-04-22 16:55] jsiirola commented on #88
Update:  these errors appear to be fundamental problems with all CBC 2.10.x builds (i.e., it is an upstream issue).  I have reported the bugs upstream (as coin-or/Cbc#388 and coin-or/Cbc#389).

[2021-04-22 16:55] #88 closed

[2021-04-22 19:09] #94 closed

[2021-04-28 00:33] adowling2 opened #98 "Missing dependencies"
This might be a non-issue. I am opening one to document.

I am installing IDAES on a fresh virtual machine with Ubuntu 20.04.02 LTS. I followed the IDAES installation instructions here:
https://idaes-pse.readthedocs.io/en/stable/advanced_user_guide/advanced_install/index.html#finish-the-installation

I went with `pip install .[dev]`, although that does not likely matter.

So far I had to run the f

[2021-04-28 00:37] adowling2 commented on #98
@eslickj I had to install two dependencies on a fresh Linux virtual machine to get the IDAES-Ipopt to work. Not sure if we need to fix anything. Perhaps just update the installation instructions?

[2021-04-28 14:19] eslickj commented on #98
I think it's in the docs, but I guess there could be multiple install guides in different places.  May depend on where you look. https://idaes-pse.readthedocs.io/en/stable/getting_started/index.html#linux

[2021-04-28 14:45] adowling2 commented on #98
@eslickj Do we need to increment from `libgfortran4` to `libgfortran5`? We can also close this issue.

[2021-04-28 15:02] eslickj commented on #98
@adowling2, I guess that depends on your Ubuntu version.  You are right.  I guess we need a bit more detail there.

[2021-04-29 21:39] eslickj commented on #98
@adowling2, I went to update the docs, but first I checked the Docker file that I use to test binaries.  Looks like I'm installing libgfortran4 (https://github.com/IDAES/idaes-ext/blob/952f0ce736149b156061460d4f0b800914762afd/docker/test-platform/ubuntu2004/Dockerfile#L7).  I guess it's not impossible that I'm building against libgfortran4 and 5 just happens to be installed for something else  may

[2021-04-30 21:57] eslickj opened #103 "L1 restoration mod doesn't compile."
@dthierry, using the same procedure as regular Ipopt, the restoration_mod branch does not compile successfully on Windows with MinGW.  See below.  I assumed the changes where minimal so I treated it exactly the same as regular Ipopt, maybe there is something special I need to do?  Also see https://github.com/IDAES/idaes-ext/blob/a11ab5387d5631c82f40b711baff9b4ffe6343d0/scripts/compile_solvers.sh

[2021-05-01 04:25] dthierry commented on #103
Ah, I've experienced this with the newer Ipopt releases, I think I had to swap a header file to make it work.

I will see if I can figure out a workaround this in a more clean way.

[2021-05-04 05:02] dthierry commented on #103
I've made some changes and I think it works now.

Also, there's a typo in the line:
https://github.com/IDAES/idaes-ext/blob/a11ab5387d5631c82f40b711baff9b4ffe6343d0/scripts/compile_solvers.sh#L152

I think it should be:
`cd Ipopt_l1`

[2021-05-04 14:05] eslickj commented on #103
@dthierry thanks, for catching the typo too.  That probably saved me a lot of time.

[2021-05-04 17:48] eslickj commented on #103
Okay.  It seems to be working.  It runs and solves problems.  I'll put out a new set of binaries and we can do some more extensive testing.  Should have the new release soon.

[2021-05-04 17:48] #103 closed

[2021-05-04 17:49] #98 closed

[2021-05-04 17:50] eslickj commented on #76
Building the release now, and seems to work.  I'll go ahead and close this.

[2021-05-04 17:50] #76 closed

[2021-05-04 18:25] dthierry commented on #103
Thanks @eslickj , please refer to the last section of the README.md from the restoration_mod branch for further instructions (https://github.com/IDAES/Ipopt/blob/restoration_mod/README.md#experimental-options)

[2021-05-04 21:35] eslickj opened #105 "L1-EP Ipopt version not compiling on Centos 6 and 7"
@dthierry, I guess due to the older compiler versions on CentOS 6 and 7, the L1-EP version of Ipopt is not compiling.  Errors below.  Aside from this it seems to be working on other platforms.

[code]

[2021-05-05 19:32] dthierry commented on #105
Thanks for this note @eslickj , I am very curious about this. I'll see what can be done about it.

[2021-05-14 17:38] eslickj opened #108 "Discontinue CentOS 6 Build?"
Can we discontinue the CentOS 6 build?  I don't think it should affect anyone, except the Pyomo team may be using it.  It would save us a little time, but the main reason I ask is that I tried out WSL2 to run the Linux kernel for docker and the CentOS 6 image is the only one that doesn't run.  If we need it, that's totally fine.  I can still build it easy enough I think I'll just have to go back t

[2021-05-20 19:59] adowling2 opened #110 "Request: extend cubic EOS to support van der Waals"
@eslickj How difficult is it to extend the cubic EOS routines here to support van der Waals (u = w = 0)? We are happy to open a PR in IDAES to test this once the cubic root finder is updated.

@agarciadiego @bbefort

[2021-05-20 20:13] eslickj commented on #110
@adowling2, probably not to hard, but I got to thinking the way we have it setup is probably a little stupid.  We should probably just leave that part of the calculation in Pyomo for maximum flexibility.  I kind of regretted the setup right away.  Recently I added a plain generic cubic root function.  You give it the coefficients of z^3 + bz^2 + cz + d = 0 as function arguments and it gives you th

[2021-05-20 20:19] adowling2 commented on #110
@eslickj Yes, we looked through the cubic_roots.c file and got confused about how to specify `u` and `w`. The general, EOS agnostic approach you suggested sounds best.

[2021-05-20 20:19] andrewlee94 commented on #110
The advantage of the current cubic EoS external function is that it only needs the `A` and `B` parameters from the EoS as inputs, and handles everything else internally. This keeps things fairly neat, at least on the Pyomo side as it only involves two arguments (rather than needing to create expressions for the additional derived coefficients. The downside of course is that the external function n

[2021-05-20 20:21] adowling2 commented on #110
A middle ground would be to extend the current approach to allow the user to provide `u` and `w`. That would keep it EOS-centric but flexible.

[2021-05-20 20:30] eslickj commented on #110
@adowling2, that's certainly easily doable.  I guess to keep from breaking anything, I can add more functions.  As much as I would like to cut this down, I know the clutter has to go somewhere.  I'll add the functions ASAP to keep things moving, and we can think about cleaning up later.

[2021-05-21 19:56] #108 closed

[2021-05-24 18:41] eslickj commented on #110
I just added a new EOS option, that set u = w = 0.  So 0=PR, 1=SRK, and 2=VDW.  I should have a new release out tonight.  That's was the least invasive change.  We can plan to move to replacing the EOS argument with u and v later.  That will require some more extensive work and coordination, although the changes are pretty straight forward.  We could just implement new functions too, but I'd like

[2021-05-24 18:47] adowling2 commented on #110
Thank you! I like this plan. We can get this to work with the current (now slightly extended) interface. At some point in the future, we can clean things up.

@agarciadiego

[2021-05-24 18:49] andrewlee94 commented on #110
The easiest and cleanest approach is to probably deprecate the old functions, but temporarily re-route them through a wrapper that coverts the current "EoS type" argument to the `u` and `w` values and then calls the general function.

Then we can move over gradually without breaking anything.

[2021-05-24 18:55] adowling2 commented on #110
@andrewlee94 I like your proposal. This would allow someone to add a new EOS (change `u` and `w`) without changing the c code, correct? They would just need to modify Python code in IDAES (if I understand your proposal correctly.)

[2021-05-24 18:57] andrewlee94 commented on #110
Yes, this would let us do any cubic EoS by just providing the relevant `u` and `w` values.

[2021-05-24 19:00] andrewlee94 commented on #110
To take this a step further, that general function could itself be a thin wrapper over a general cubic root finder. All it would need to do is take the `A`, `B`, `u` and `w` inputs and covert the relevant `b`, `c` and `d` coefficients of the actual cubic equation (to save the Pyomo user from needing to create those epxessions).

[2021-05-24 19:04] eslickj commented on #110
@andrewlee94, do I member right that we aren't using the extended smooth root stuff?  That's one thing that will cut this down a bit.  With your last comment, I'm not clear on what you are saying.  Are you saying the C function takes A, B, u, and w or the C function takes b, c, d and in Pyomo we calculated those from A, B, u, and w (in some general wrapper)?

[2021-05-24 19:07] adowling2 commented on #110
Is the cubic EOS root-finding independent of the extended smoothed root formulation?

[2021-05-24 19:07] andrewlee94 commented on #110
1. I don't think we are using the smooth stuff - the SmoothVLE formulation does all of that on the Pyomo side.
2. I am proposing 2 c-functions. A general cubic root finder which takes 4 arguments (`a`, `b`, `c` and `d`) and finds the roots, and a wrapper over this specifically for cubic EoS's which takes `A`, `B`, `u` and `w` and then calculated the actual cubic coefficients from that using the st

[2021-05-24 19:26] eslickj commented on #110
Ok, that's basically how it works, just with the EOS arg instead of u and v.  It's a little less straight forward than move part of it to Pyomo since we need to handle derivatives.  The advantage of putting the A and B calculation in Pyomo is that we don't need to go from derivatives in terms of b, c, d to derivatives in terms of A and B in the C function.  It's not a big deal, but it does make th

[2021-05-24 19:33] andrewlee94 commented on #110
@eslickj I had not thought about the partial derivatives - that is a good argument for keeping as much on the Pyomo side as possible (i.e. only have the basic cubic root finder in C). We should be able to write the wrapper functions in Python anyway, as it is just making Pyomo `expressions` at that point.

[2021-05-24 19:40] eslickj commented on #110
@andrewlee94, we already have functions that take b, c, d so if we go that route migration should be pretty easy.  We can just eventually delete the functions we don't need.  It's not a big deal, but a few years in the future some new person taking over will thank us when they don't have to look at that mess.

[2021-05-25 16:01] eslickj commented on #110
New binaries are here https://github.com/IDAES/idaes-ext/releases/tag/test-release, except Windows, which will be there soon.  I don't really have a test for the van der Waals thing, so let me know if you have any trouble.  Once we get a chance to test everything, I'll create a new official release.

[2021-09-09 18:54] ksbeattie commented on #110
@adowling2, this is in the latest idaes-ext release, but just needs testing to confirm it is correct.  Can you identify someone to confirm/test it?

[2021-09-09 23:56] adowling2 commented on #110
@agarciadiego @bbefort Do we have a good test case for the new van der Waals EOS support?

[2021-09-09 23:56] adowling2 commented on #110
@eslickj Please ping us if/when the new Windows binaries are posted.

[2021-09-10 01:31] eslickj commented on #110
@adowling2.  I think it's already in the latest binaries.

[2021-12-09 21:04] eslickj opened #125 "PETSc Wrapper Equality Classifiction Issue"
Sometime the PETSc nl-solver wrapper wrongly classifies equities as inequalities and fails due to degrees of freedom.  It doesn't happen very often and it seems kind of random, in a way that makes me think it may be a memory mismanagement issue.  The solver seems to work fine otherwise, so whatever the issue is, it's sneaky.

[2021-12-10 05:26] eslickj commented on #125
Fairly sure I checked the constraint bounds before calling fg_read().  When using PETSc I don't have inequity constraints, and I guess the allocated memory is usually full of zeros.  It looks like this mistake wouldn't affect solutions, just checking for inequalities.

[2021-12-10 06:36] eslickj commented on #125
Fix seems to work.  Close after new release 2.5.1

[2021-12-15 19:14] eslickj opened #130 "PETSc Wrapper Explicit Time Variable Bug"
The PETSc wrapper have a bug where the index of the time variable was aggined an index of -1 if there was no explicit time variable, but when the wrapper went to set the value of the time variable, it checked if the index was > 0.  This means that if the index of the time variable happened to be 0, the value of time wouldn't get written to the variable.  Need to update to >= 0.

[2021-12-15 19:14] #130 closed

[2021-12-16 19:13] #125 closed

[2022-03-24 17:37] eslickj commented on #110
I think this is done.

[2022-03-24 17:37] #110 closed

[2022-03-24 17:38] #105 closed

[2022-03-24 17:39] eslickj opened #145 "Add machine type"
Add machine type to the builds to handle non x86_64 support.

[2022-03-24 17:40] eslickj opened #146 "CentOS 8 -> RockyLinux"
Switch the CentOS 8 docker stuff to RockyLinux and add rocky to known platforms.

[2022-03-24 17:41] eslickj opened #147 "HSL free builds on github actions"
Look into building without the HSL on github actions.

[2022-04-12 14:43] eslickj commented on #146
Done

[2022-04-12 14:43] eslickj commented on #145
Done

[2022-04-12 14:43] #145 closed

[2022-04-12 14:46] eslickj commented on #83
I think due to the Fortran and Blas/Lapack dependencies, this may be difficult.

[2022-04-12 14:46] #83 closed

[2022-04-24 21:48] eslickj commented on #69
I think I have Arm64 extensions for macOS ready to go.  I'm going to close this and we can add new specific issues moving forward.

[2022-04-24 21:48] #69 closed

[2022-06-30 18:59] jsiirola opened #204 "Distribute /include as part of solvers"
Can we update the idaes-ext to also distribute the `/include` directory from the solver builds (in particular for the COIN solvers)?  I am trying to build other things (SCIP) against the idaes-ext distribution, and not having the includes is breaking the build.

This may cause us to re-think the tarballs that we distribute...?

[2022-07-19 19:16] eslickj commented on #204
@jsiirola, As far as I know we only include AMPL executable versions of the COIN solvers, except for Ipopt where we also include a shared library version.  I only build static libraries for everything else, and don't distribute them.  Do you just need the Ipopt headers?

I install the COIN solvers to their own directory when building them. Then I copy the executables from there to make the binary

[2022-07-20 18:19] eslickj commented on #204
Headers are no problem.  I'll just kick out the HSL headers.  I don't distribute the static libraries because I don't really know which ones link the HSL (so if used would result in a linking error).  I didn't really see the non-ipopt headers as useful, but I may be wrong.

I will include them in the next release.  The best way for a person to use them is another matter.  I can put an "include" di

[2022-07-20 18:22] jsiirola commented on #204
An /include would certainly be good.  We might consider a longer-term solution of restructuring the `~/.idaes` directory to have a "closer to sttandard" layout, with `/bin`, `/lib`, `/include`, and `/share`.  Windows is a bit of a question, though - because it doesn't really support `LD_LIBRARY_PATH`.  Maybe architecture-specific?

[2022-07-20 18:33] eslickj commented on #204
@jsiirola, I for sure could do that and make it arch specific.  I'd just have bin be both lib and bin on Windows and the proper structure on Linux and macOS.  I guess I can include the libraries too and kick out the HSL library.  Sure sometimes you may need to provide the HSL yourself depending on what you want to do, but it could still be pretty useful.

I'm working on a new version of the Helmho

[2022-07-26 21:18] adowling2 commented on #5
@nicolepcortes is having issues with this when running `idaes get-extensions` on our cluster.

[2022-07-27 20:09] eslickj commented on #5
@adowling2, probably to be expected.  What's the problem?  Which version of Linux?  I assume since this popped up here it's a Blas/Lapack issue.

[2022-07-31 15:25] ZedongPeng opened #205 "How to get idaes extensions for Ubuntu 16.04?"
`idaes get-extensions` only supports Ubuntu 18.04 and above.
How can I get idaes extensions for Ubuntu 16.04?

[2022-08-05 16:39] ksbeattie commented on #205
@ZedongPeng, unfortunately the oldest release of Ubuntu we build binaries for is Ubuntu 18.

There are some pointers to instructions on how to build them yourself under the [doc/build.md](../blob/main/doc/build.md) file.

[2022-08-18 21:46] eslickj commented on #204
They are now in the solvers package in another tar.gz file.  Now the issue of updating the install methods can go the ideas-pse repo.  This is done with the 3.0.0 release

[2022-08-18 21:46] #204 closed

[2022-08-25 18:25] ksbeattie commented on #205
Closing this for now, though am interested if you got it working.

[2022-08-25 18:25] #205 closed

[2022-08-25 19:02] ksbeattie commented on #147
Part of https://github.com/IDAES/idaes-pse/issues/157  Though if we can get this for other platforms, we should.

[2022-11-04 14:41] eslickj opened #229 "Switch test back to IDAES main branch"
Once https://github.com/IDAES/idaes-pse/pull/1000 gets merged, switch all the test back to using IDAES main.

[2022-11-04 14:49] eslickj opened #230 "Add Helmholtz EoS solver tolerance and diagnostic options."
We should add solver options (tolerance and max iterations) to the component parameter files.  We should also add an option that turns on some diagnostic output, like how many iterations were required for each solve.  Currently the parameters are hard coded, but I'm worried they could vary from machine to machine.  This would at least allow us to investigate more and tune things.  If tolerances ar

[2022-11-04 15:01] eslickj opened #231 "Add references to parameter file"
I forgot to move the reference for the Helmholtz EoS parameters from the C++ code that has been removed to the new Python files that generate the parameter files.  I need to bring those back.

[2022-11-08 15:37] #231 closed

[2022-11-08 15:46] #229 closed

[2022-11-11 18:06] defencedog opened #236 "Ipopt Compiling ARM64 Android Termux"
I am highly successful in compiling engineering libraries on Android & as a chemical enginner wanted to run `idaes` on my jupyter.
So far idaes is installed via pip successfully now solver stuff remains.
I have already compiled `lapack` as well
[code]

Now while configuring ipopt I have no clue as to the last error **could not find dsyev when trying to link with LAPACK**. Plz instruct

[code]

[2022-11-17 00:17] defencedog commented on #236
Ok this worked I have my  IPOPT working well in `idaes`
Configure / build command `you can use CC=clang as well
FC=gfortran-11 CC=gcc-11 ./configure --prefix=/data/data/com.termux/files/usr/local/ --with-lapack="-L/data/data/com.termux/files/usr/include/openblas/ -lopenblas" --with-mumps="-L/data/data/com.termux/files/usr/local/lib/ -lcoinmumps  -I/data/data/com.termux/files/usr/local/include/coin

[2022-11-17 00:17] #236 closed

[2022-11-17 00:26] defencedog opened #237 "Check for Custom Build of Petsc in petsc.py"
I have compiled my own petsc with multiple shared libraries on ARM64 Android. Because `python3.9/site-packages/idaes/core/solvers/petsc.py` doesn't have any check to discover custom locations of `petsc` I have to modify code slightly & used system environment variable ( in my case `PETSC_DIR=$PREFIX/local` ) to guide python to required location otherwise jupyter notebook gave error about `PetscBin